/* Add a black background color to the top navigation */

*,
body {
    margin: 0;
    padding: 0;
}

.topnav {
    background-color: rgba(255, 123, 0, 0.958);
    float: left;
    overflow: hidden;
    text-align: justify;
    text-decoration: none;
    background-color: black;
    width: 800px;
    margin: 0 auto;
}

.top-menu {
    background-color: rgba(255, 123, 0, 0.958);
    float: left;
    overflow: hidden;
    text-align: justify;
    text-decoration: none;
    background-color: black;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 75%;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    text-decoration: none;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: orange;
    text-decoration: none;
    color: white;
    float: left;
}

body {
    background-color: rgba(0, 0, 0, 0.544);
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    background: transparent !important;
}

 ::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 10px;
}

#myInput {
    position: fixed;
    background-image: url('/css/searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 20%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    margin-left: 35%;
    /* Add some space below the input */
    float: right;
}

#myUL {
    /* Remove default list styling */
    position: fixed;
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-right: 35%;
    width: 50%;
    float: right;
}

#myUL li a {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 5px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 15px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}

#sidebar {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    width: 300px;
    height: 100%;
    background: #000;
    left: -300px;
    transition: 1s;
}

#sidebar ul li {
    list-style: none;
    color: white;
    font-size: 20px;
    padding: 26px 24px;
}

#sidebar .toggle-btn {
    position: absolute;
    top: 30px;
    left: 330px;
}

.toggle-btn span {
    width: 45px;
    height: 4px;
    background: #000;
    display: block;
    margin-top: 4px;
}

#sidebar.active {
    left: 0;
}